@import url("style.css");

input[type="text"] {
	width:12em;
}

body {
	display:flex;
	height:100vh;
	flex-direction:column;
	text-align:center;
}

header,footer {
	flex-shrink:0;
/*	visibility: hidden; */
}

header {
	nav {
		align-items:center;
		display:flex;
		flex-direction:row;
		justify-content:space-between;

		li {
			display:inline-block;
			
			&:after {
			content:"\00B7";
			}

			&:last-of-type:after {
			content:none;
			}
		}
	}
}

main {
	display:flex;
	flex:1 0 auto;
	flex-direction:row;
}

#careers {
	display:flex;
	flex-direction:column;
}

#careerdata {
	flex-grow:1;
}