@import url("reset.css");
@import url("style.css");

body {
	height: 100vh;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
}

header {
	grid-column: 1 / 3;
	grid-row: 1 / 1;
	display: flex;
	flex-direction: row;
}

main {
	overflow: auto;
	grid-column: 1 / 3;
	grid-row: 2 / 2;
}

footer {
	grid-column: 1 / 3;
	grid-row: 3 / 3;
}

log {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto auto;
}

logheader {
	grid-column: 1 / 3;
	grid-row: 1 / 1;
}

lognav {
	grid-column: 1 / 3;
	grid-row: 2 / 2;
}

#jobs {
	display: flex;
	flex-direction: row;
}

logbody {
	grid-column: 1 / 3;
	grid-row: 3 / 3;
	display: flex;
	flex-direction: row;
}

logfooter {
	grid-column: 2 / 2;
	grid-row: 4 / 4;
}
