@import url("style.css");

ul, menu, dir {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    header ul {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }

    header li {
        display: inline-block;
    }

    header li:after {
        content: "\00B7";
    }

    header li:last-of-type:after {
        content: none;
    }

main {
    height: 100vh;
    overflow: auto;
}

log {
    height: 50em;
    width: 70.1875em;
    margin: 2em auto;
}

logheader,lognav {
    display: flex;
    flex: 1 0 auto;
}

    logheader {
            flex-direction: column;
    }

    logheader p {
        width: auto;
        display: flex;
        justify-content: space-between;
    }

lognav {
    flex-direction: row;
    padding-top: 0.3125em;
}

logbody {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
}

li.levelRange {
    font-size: 0.8125em;
}
