@font-face {
    font-family: 'Eorzea';
    src: url('/fonts/Eorzea.eot');
    /* IE9 Compat Modes */
    src: url('/fonts/Eorzea.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/Eorzea.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/Eorzea.woff') format('woff'), /* Pretty Modern Browsers */
    url('/fonts/Eorzea.ttf') format('truetype') /* Safari, Android, iOS */
}

@import url("//fonts.googleapis.com/css?family=Open+Sans");

body {
    background: #100C14 url("https://storage.googleapis.com/shardsmith-210018.appspot.com/images/dragonskin.png") repeat fixed;
    font-family: "Meiryo", sans-serif;
    color: #aebbc1;
    text-shadow: 0 0.0625em 0.0625em #000;
}

a {
    text-decoration: none;
    color: #BAAA78;
}

li {
    list-style: none;
}

header,
footer {
    background: linear-gradient(transparent, #1d1b22), linear-gradient(to right, #1D1B22, #413F52, #1D1B22);
    border: 0.1875em solid transparent;
    border-image: linear-gradient(to right, #31303E, #BAAA78, #31303E);
    border-image-slice: 1;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    color: #BAAA78;
    text-shadow: 0 0.0625em 0.0625em #000;
}

header {
    box-shadow: 0 0.3125em 1.25em #000;
}

    header li a:hover {
        color: #aebbc1;
    }

svg {
    text-shadow: none;
}

    svg #text {
        text-shadow: 0 0 0.3125em black, 0 0 0.625em black, 0 0 0.9375em black, 0 0 1.25em black;
    }

footer {
    background: linear-gradient(transparent, #1d1b22), linear-gradient(to right, #1D1B22, #413F52, #1D1B22);
    box-shadow: 0 -0.125em 0.9375em #000;
}

#craftingLog {
    background: #313031;
}

#jobs {
    border-top: 0.0625em solid transparent;
    border-image: linear-gradient(to right, #31303E, #BAAA78, #31303E);
    border-image-slice: 1;
}

    #jobs li {
        list-style: none;
    }

li.levelRange {
    background: none;
    border: none;
    color: #E5D8BD;
    text-shadow: 0em 0.0625em black;
}

.hide {
    display: none;
}

.White {
    color: #f3f3f3 !important;
}

.Green {
    color: #c0ffc0 !important;
}

.Blue {
    color: #5990ff !important;
}

.Pink {
    color: #d789b6 !important;
}

.Yellow {
    color: #e5dd7e !important;
}

.Orange {
    color: #ffa666 !important;
}

.Purple {
    color: #b38cff !important;
}
